:root {
  --primary: #2c3e50;
  --accent: #183346;
  --bg: #ffffff;
  
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: large;
  background: var(--bg);
}
header {
  background: white;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.navbar {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  height: 50px;
}
.navbar a {
  color: rgba(0, 0, 0, 0.7);
  padding: 15px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 450;
}
.navbar a:hover,
.navbar a.active {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid var(--accent);
  box-shadow: 0 -2px 6px rgba(0,0,0,0.08);
}
.container {
  width: 100%;
  margin: 30px auto;
  background: white;
  padding: 40px;
}
